body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

img {
  display: block;
}

.head-side {
  display: flex;
  margin: 0 auto;
  align-content: center;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.head-side .container {
  margin: 0 auto;
}

.hero {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.link {
  padding: 24px 0;
}

.main-navigation .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.17;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.logo .second-pt {
  color: #2e2f42;
}

.nav-list .link {
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: #404bbf;
  text-decoration: none;
}

.contact-list {
  display: flex;
  gap: 40px;
  margin-left: 315px;
}

.address-list {
  text-decoration: none;
  font-style: normal;
}

.address-list .link {
  color: #434455;
}

.address-list .link:hover,
.address-list .link:focus {
  color: #404bbf;
}

.buy-service {
  background-color: #2e2f42;
}

.buy-service .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buy-service .buy {
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
}

.buy-service .buy:hover {
  background-color: #404bbf;
}

.buy-service .buy:focus {
  background-color: #404bbf;
}

.buy-service {
  padding: 188px 0;
}

.title-hero {
  max-width: 496px;
}

.buy {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-top: 40px;
}

.plus {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advan {
  display: flex;
  gap: 24px;
}

.advan .advan-list {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.exp {
  margin-bottom: 8px;
}

.advan .exp {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team {
  padding: 120px 0;
}

.team .container {
  flex-direction: column;
}

.container .our-team {
  margin-bottom: 72px;
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.company {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.team .our-team {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team .info-team {
  padding: 32px 0;
}

.team .info-team .name {
  text-align: center;
  margin-bottom: 8px;
}

.team .info-team .descp {
  text-align: center;
}

.team .company {
  background-color: #ffffff;
}

.team .company .name {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team .company .descp {
  font-size: 16px;
}

.info {
  padding: 32px 0;
}

.info .name {
  text-align: center;
  margin-bottom: 8px;
}

.info .descp {
  text-align: center;
}

.portfolio {
  padding: 120px 0 120px 0;
}

.portfolio .container {
  flex-direction: column;
}

.dignit {
  margin-bottom: 72px;
}

.app-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.list-prog {
  width: calc((100% - 48px) / 3);
}

.portfolio .dignit {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.allowa {
  margin-bottom: 8px;
}

.portfolio .allowa {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.apps-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.foot {
  background-color: #2e2f42;
}

.foot .link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.foot {
  padding: 100px 0;
}

.foot .container {
  flex-direction: column;
}

.foot .second-pt-foot {
  color: #f4f4fd;
}

.link {
  display: inline-block;
}

.foot .link {
  margin-bottom: 16px;
}

.spec {
  max-width: 264px;
}

.foot .spec {
  color: #f4f4fd;
}
