body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-navigation nav {
  display: flex;
  align-items: center;
}

.hero {
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.17;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo .second-pt {
  color: #2e2f42;
}

.container .navigation {
  display: flex;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list li {
  margin-right: 40px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list .link {
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: #404bbf;
  text-decoration: none;
}

.link {
  padding: 24px 0 24px;
}

.address-list {
  text-decoration: none;
  font-style: normal;
}

.address-list .link {
  color: #434455;
}

.address-list .link:hover,
.address-list .link:focus {
  color: #404bbf;
}

.contact-list {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.contact:last-child {
  margin-right: 0;
}

.buy-service {
  background-color: #2e2f42;
}

.buy-service .buy {
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
}

.buy-service .buy:hover {
  background-color: #404bbf;
}

.buy-service .buy:focus {
  background-color: #404bbf;
}

.buy-service {
  padding: 188px 0;
}

.title-hero {
  max-width: 496px;
}

.buy {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.plus {
  padding: 120px 0;
}

.advan {
  display: flex;
  gap: 24px;
}

.advan-list {
  flex-basis: calc((100% - 72px) / 4);
}

.exp {
  margin-bottom: 8px;
}

.advan .exp {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team {
  background-color: #f4f4fd;
}

.team .our-team {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team .company {
  background-color: #ffffff;
}

.team .company .name {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team .company .descp {
  font-size: 16px;
}

.portfolio .dignit {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio .allowa {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.foot {
  background-color: #2e2f42;
}

.foot .logo-foot {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.foot .second-pt-foot {
  color: #f4f4fd;
}

.foot .spec {
  color: #f4f4fd;
}
